<h1 class="mt-3">Ejercicio 2 : Suma de números desde un número singular</h1>

<form action="/ejercicio2" method="post">

  <div class="form-group">
    <label for="numero">suma  de numero</label>
    <input type="text" name="num" id="num" class="form-control">
  </div>
    


  <button type="submit" class="btn btn-primary">Calcular</button>
</form>