<h1 class="mt-3">Ejercicio 1 : Division de Numeros</h1>

<form action="/ejercicio1" method="post">

  <div class="form-group">
    <label for="numero">Division de numero</label>
    <input type="text" name="numero" id="numero" class="form-control">
  </div>
    


  <button type="submit" class="btn btn-primary">Calcular</button>
</form>