<form action="/ejercicio1" method="get">
  <button type="submit" class="btn btn-success">Ejercicio 1 : Division de Numeros</button>
</form>

<form action="/ejercicio2" method="get">
  <button type="submit" class="btn btn-success">Ejercicio 2 : Suma de números desde un número singular
</button>
</form>

<form action="/ejercicio3" method="get">
  <button type="submit" class="btn btn-success">¿Qué función retorna el número mayor?
</button>
</form>

<form action="/ejercicio4" method="get">
  <button type="submit" class="btn btn-success">Conversión de Number a Base-2</button>
</form>


<form action="/ejercicio5" method="get">
  <button type="submit" class="btn btn-success">¿Qué se esconde entre la multitud?</button>
</form>


<form action="/ejercicio6" method="get">
  <button type="submit" class="btn btn-success">Casas con fósforos</button>
</form>


<form action="/ejercicio7" method="get">
  <button type="submit" class="btn btn-success">Encontrar el menor y el mayor número</button>
</form>

