<h1 class="mt-3">Encontrar el menor y el mayor número</h1>

{{#if numero}}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">resultadoo</th>
   
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{numero}}</th>
    </tr>
  </tbody>
</table>
{{/if}}